/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

.layout-grid {
 display: block;
 grid-column-gap: 15px;
 grid-row-gap: 15px;
 grid-template-columns: 7fr 3fr;
}

.sml {
  height: 33.3%;
  width: 33.3%;
}

.row{
  display: block;
}

.row2 {
  width: 683.36px;
}

.blue {
  width: 643.36px;
}

.row2_3{
  width: 200px;
}

/* Posititoning Classes */
